<% @title= "About" %>
<h1 class= "static_pages_titles"> About </h1>
<p id="about_paragraph">My name is Hartani Yassir 19 years old </br> born and raised in Casablanca, Morocco .
During the day I study computer science in ISTA ,</br> 
at night  I'm Self-Taught Developer passionate about the new technology .</p>