<% @title = "Home" %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Rails Blog </h1>
    <p class="lead">Welcome to the Rails Blog , this is how the greate developers start their afternoons .
        Login and share your knowledge</p>
   <a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
   </div>
</div>
