
<h1 id="head-form">Log in</h1>
<div id ="athentification-form">
 <%= bootstrap_form_for :session , url: login_path do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.submit "Log in" %>
 <% end %>
</div>