<p id="notice"><%= notice %></p>

<h1>Writers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @writers.each do |writer| %>
      <tr>
       <td><%= link_to(image_tag(avatar_url(writer)), writer) %> </td>
        <td><%= link_to writer.name, writer %></td>
        <% if current_writer.admin? %>
          <td><%= link_to 'Destroy', writer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

