 @import "bootstrap"; 

 $gray-medium-light: #eaeaea;

 .navbar-brand{
    margin-left: 35px;
    margin-left: 35px;
   
 }
.nav-link a{
    color: #2b2525;
    font-weight: 300;
    
}

#navbarText{
    margin-left: 10px;
    margin-right: 10px;
}
.nav-item active {
    margin-left: 30px;
}
.navbar-brand {
    margin-top: 7px;
}
footer {
    margin-top: 45px;
    position: fixed;
    left: 50px;
    bottom: 0;
    width: 90%;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: gray;
    a {
      color: gray;
      &:hover {
        color: #0f99ea
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
}
p#about_paragraph{
    font-family: 'Lora', serif;   

}
p#contact_paragraph{
    font-size: 20px;
    font-family: 'Lora', serif;   

}
h1.static_pages_titles{
    font-family: 'Prata', serif;
    font-size: 7.8em;
    letter-spacing: -.055em;
    margin: 0 0 .2em;
    line-height: 1.3em;
    font-size: 90px;
    position: relative;
    margin-top: 60px;
}
