/*
 *= require rails_bootstrap_forms
 */
 @import "bootstrap"; 

 $gray-medium-light: #eaeaea;
html, body  {
    height: 100%;
}
body {
    margin: 0; 
    display: flex;
    flex-direction: column;
  }
div.container {
    flex: 1 0 auto;
    position: relative;
    overflow-y: scroll; 
}

// header
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    flex-shrink: 0;
}
 .navbar-brand{
    margin-left: 35px;
    margin-left: 35px;
   
 }
a.nav-link{
    color: #2b2525;
    font-weight: 300;
}

#navbarText{
    margin-left: 10px;
    margin-right: 10px;
}
.nav-item active {
    margin-left: 30px;
}
.navbar-brand {
    margin-top: 7px;
}

//footer
footer {
    flex-shrink: 0;
    margin-top: 45px;
    position: relative;
    left: 50px;
    bottom: 0;
    width: 90%;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: gray;
    a {
      color: gray;
      &:hover {
        color: #0f99ea
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
 }

p#about_paragraph{
    font-family: 'Lora', serif;   

}
p#contact_paragraph{
    font-size: 20px;
    font-family: 'Lora', serif;   

}
h1.static_pages_titles{
    font-family: 'Prata', serif;
    font-size: 7.8em;
    letter-spacing: -.055em;
    margin: 0 0 .2em;
    line-height: 1.3em;
    font-size: 90px;
    position: relative;
    margin-top: 60px;
}
div.btn.btn-primary.btn-lg a{
    color: white;
    text-decoration: none;
}

/*
Forms 
*/

div#athentification-form, div#reset-form{
    
    margin-left: 20%;
    width: 50%;
    margin-top: 60px;

}
.btn.btn-secondary{
    width: 100%;
}
h1#head-form, h1#reset-head-form{
    margin-left: 36%;
    margin-top: 40px;
    margin-bottom: -40px;
}
h1#reset-head-form{
    margin-left: 32%;
}

/* Writer PROFILE PAGE */

.profile_wrapper{
    width: 744px;
    margin: 0 0 16px 30px;
    padding: 20px;
 }
div.header{
    display: flex;
    padding-bottom: 15px;
    border-bottom: 2px solid #e2e2e2;
}

.profile_photo, .writer_info img{
    border-radius: 50%;
}

div.header_content{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.writer_name{
    font-weight: bold;
    line-height: 1.3;
    color: #262626;
    font-size: 26px;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    margin: 2px;
}
.list_header{
    padding-top: 10px;
    font-weight: 500;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 8px;
    font-size: 15px;
    margin-left: 25%;
    padding-right: 10px;
}
.feed{
    width: 142px;
    float: left;
    min-height: 1px;
    padding-top: 3px;
    font-size: 13px;
    
}
p#title{
    color: #333;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 14px;
    border-bottom: 1px solid #e2e2e2;
}
.Articles{
    margin-left: 23%;
}

// Home Page
.add-article{
    width: 620px;
    border: 1px solid #efefef;
    background-color: #fff;
    border-radius: 4px;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 8px;
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 16px;
    margin-left: 220px;
    margin-top: 40px;
    font-size: 13px;
    text-align: left;
}
.writer_info img {
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 4px;
}
.writer_info a#writer_name{
    color: #999;
}
.writer_info a#description{
    font-family: Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    font-weight: bold;
    line-height: 1.3;
    color: #262626;
    font-size: 18px;
    color: #999;
    display: block;
    padding-bottom: 16px;
}
.navlist{
    margin-top: -83px;
    position: static;
    width: 142px;
    width: 142px;
    float: left;
    min-height: 1px;
    margin-left: 30px;
    clear: left;
    font-size: 13px;    
}
 p#navlist-title{
    color: #333;
    font-weight: 500;
    position: relative;
    border-bottom: 1px solid #bcb4b4ee;
    margin-bottom: 16px;
    padding-bottom: 8px;
    font-size: 15px;
    letter-spacing: 0;
    text-transform: none;
}
.navlist-feeds{
    padding-left: 23px;
}
.navlist-feeds li{
    padding: 4px 5px;
    margin: 0 0 0 -5px;
    width: 100%;
}
.navlist-feeds li#a{
    background: #ececec;
    color: #666;
    border-radius: 3px;
    font-weight: 400;
    cursor: default;
}

div.card{
    width: 530px;
    margin-top: 20px;
    margin-left: 13px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125)
    
}
p.card-text{
    height: 123px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.4;     /* fallback */
    max-height: 320px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
}
.writer-info{
    margin-bottom: 10px;
    font-size: 13px;
}
.writer-info img{
    margin-right: 12px;
}
.writer-info a, .info-content a{
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.writer-info p, .info-content p{
    font-size: 13px;
    color: rgba(129, 133, 130, 0.911);
    margin-top: 2px;
    margin-bottom: -4px;
}

// new article form
.article_form{
    border: 3px;
    margin-left: 20%;
    margin-top: 7%;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 1.58;
    letter-spacing: -.003em;
}
input#article_title{
    margin-top: 5px;
    width: 700px;
    height: 50px;
    border: none;
}
textarea#article_body{
    height:100px;    
    width: 700px;
    border: none;
}
.article_form a#writer_name{
    font-size: 13.5px;
    color: black;
}
// show article 
.full-article{
    width: 744px;
    margin: 20px 0 16px 180px;
    padding: 30px;
}
.header-writer-info{
    display: flex;
    padding-bottom: 15px;
    border-bottom: 2px solid #e2e2e2;
    margin-bottom: 20px;
}
.info-content{
    padding-left: 20px;
}
.article-content h1#title{
    font-size: 42px;
    line-height: 1.04;
    letter-spacing: -.015em;
    color: rgba(0,0,0,.84);
    letter-spacing: 0.1px;
    padding-bottom: 12px;
}
.article-content p#body{
    font-weight: 400;
    color: #333;
    font-style: normal;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: -.003em;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif
}
// follow and unfollow buttons
.follow-button {
    margin: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    border-color: #03a87c;
    background-color: white;
    color: #03a87c;
    margin-left: 20px;
    &:visited, &:focus, &:hover {
      border-color: #2D6396;
      color: #2D6396;
    }
  }
  
  .unfollow-button {
    margin: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    border-color: #03a87c;
    background-color: #03a87c;
    color: white;
    margin-left: 20px;
    &:hover {
        border-color: #28a745;
        background-color: #28a745;
        color: white;
    }
  }


  //pagination
  div.pagination{
    padding: 9px 0 5px;
  }
  .pagination{
      a,span,em{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
      }
  }