<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer">
  <small>
    The <%= link_to "Rails blog ",root_path %> by Hartani Yassir
  </small>
  <nav>
    <ul>
      <li><a href="https://twitter.com/hartaniyassir" class="fa fa-twitter"></a></li>
      <li><a href="https://www.linkedin.com/in/yassir-hartani-a8a131137" class="fa fa-linkedin"></a></li>
      
      
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
